@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    color: black;
    background-color: white;
    padding-top: 20px ;
}

body{
    background-color: black;
    padding-bottom: 20px;
}

@keyframes latidoCorazon {
    50%{transform: scale(1.25);}
}

@keyframes flotando {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 6px); }
    100%   { transform: translate(0, -0px); } 
}

.corazon{
    animation-name: latidoCorazon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#corazon1{
    font-size: 45px;
}

#corazon2{
    font-size: 25px;
}

.inicioFrase{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.fraseSaludo{
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
}

.saludoExtension{
    display: flex;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.separacion {
    border: 1px solid black;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

.navegador{
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
}

.navegador-enlace{
    color: black;
    text-decoration: none;
    transform: rotate(10deg);
}

.navegador-enlace:visited{
    color: black;
}

.navegador-enlace:hover{
    position: relative;
    bottom: 5px;
}


.presentacion{
    display: flex;
    flex-wrap: wrap;
}

.inicioImagen{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center;
    align-items: center;
    
}

.inicioImagen img{
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.inicioImagen-saludo{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    
}

.atajos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.atajos a{
    animation-name: flotando;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.atajos-link{
    color: black;
    text-decoration: none;
    font-size: 60px;
}

.atajos-link:hover{
    position: relative;
    bottom: 5px;
}

.atajos-link:visited{
    color: black;
}

.barrasContenedor{
    position: absolute;
    top: 40%;
}

.contenedorWape{
    background-color: black;
}

.cuerpoContenedor{
    background-color: black;
    color: aliceblue;
}
.sobreMi{
    background-color: black;
    padding: 25px 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.sobreMi img{
    animation-name: flotando;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    
}

.sobreMi-contenido{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: aliceblue;
    text-align: justify;
    max-width: 600px;
    padding: 0px 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tituloFragmentoActivo{
    color: #68e1fd;
}

.descripcionTl,.experienciaTl,.pasatiemposTl.habilidadesTl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 5px;
}


@keyframes agrandar {
    from{scale: 0;} to{scale: 1;}
}


#iconoFragmento{
    font-size: 60px;
}

.iconoFragmentoActivo{
    transition: 0.5s;
    scale: 1.25;
}

.iconoFragmentoDesactivado{
    transition: 0.5s;
    scale: 1;
}



.misPasatiempos ul{
    list-style: none;
}

.misPasatiempos li{
    display: flex;
    align-items: center;
    gap: 15px;
}

.habilidades{
    text-align: center;
}

.habilidades-imagen{
    animation-name: flotando;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    height: 400px;
    width: 500px;
}

#habilidades-titulo{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-bottom: 10px;
}

@keyframes sacudida {
    0%{
        transform: scale(1.05);
        
    }

    20%{
        transform: rotate(6deg) scale(1.05);
    
        
    }

    40%{
        transform: rotate(-6deg) scale(1.05);

        
        
    }

    60%{
        transform: rotate(6deg) scale(1.05);
       
   
    }

    80%{
        transform: rotate(-6deg) scale(1.05);
        
        
    }

}

.habilidadesInicio{
    padding: 25px 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15vw;

}

.habilidadesCarta{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.habilidadCarta{
   background-color: white;
   color: black;
   border-radius: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 120px;
   font-size: 25px;
   font-family: 'Caveat', cursive;
   
}

.habilidadCarta-icono i{
    font-size: 80px;
    animation-name: sacudida;
   animation-duration: 5s;
   animation-iteration-count: infinite;

}

.habilidadesContenedor{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    justify-content: center;
    gap: 30px;
}

.habilidadesContenedor-item{
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.habilidadesContenedor-item i{
    color: white;
    font-size: 60px;
}

.iconoHabilidadActivo i{
    text-shadow: 1px 1px 15px #68e1fd
    
    ;
    color: #68e1fd;
    transform: scale(1.05);
    transition: 0.5s;
    position: relative;
    bottom: 10px;
    
}

.textoHabilidadActivo{
    color:#68e1fd;
}

.proyectos{
    color: white;
}

#proyectosTitulo{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    margin-bottom: 7px;
}

.proyectosContenedor{
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(
            250px,
            1fr
        )
    );

    gap: 26px;
    
    
}

.proyectosContenedor a{
    text-decoration: none;

}

.proyectosContenedor a:visited{
    color: black;
}

.proyectosCarta{
    background-color: white;
    border-radius: 20px;
    grid-column: auto;
    height: 300px;
    transition: 2s;
}

.proyectosCarta:hover{
    box-shadow:1px 1px 10px 5px #68e1fd;
    transform: scale(1.05);
    transition: 0.5s;
    position: relative;
    bottom: 10px;
}



.proyectosCarta-imagen{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    color: black;
}

.proyectosCarta-imagen span i{
    font-size: 45px;
}

.proyectosCarta-contenido{
    height: max-content;
    color: black;
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px 1%;
    font-size: 25px;
    text-align: center;
}

.proyectosCarta-contenido_titulo{
    font-family: 'Permanent Marker', cursive;
}

.proyectosCarta-contenido_texto{
    font-family: 'Caveat', cursive;
}

@keyframes transformarLoka {
    from{
        width: 80%;
        border: 1px solid #68e1fd;
    } to {
        width: 20%;
        border: 1px solid white;
    }
}

#seperacion2{
    border: 1px solid white;
    width: 80%;
    margin: auto;
    animation-name: transformarLoka;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logo{
    font-family: 'Permanent Marker', cursive;
    padding: 30px 0px;
    text-align: center;
    font-size: 30px;
}

.logo span{
    color:#68e1fd
}

footer{
    padding: 30px 0px;
    background-color: black;
    color: white;
}

.finPagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.finPagina img{
    animation-name: flotando;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes led {
    50%{
        text-shadow: 2px 2px #68e1fd;
       
        
    }
}


.contactosDespedida{
    font-size: 25px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-bottom: 10px;
    animation-name: led;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#contactosTitulo{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}

.contactosContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.contactosEnlace{
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;
}

.contacto-cuerpo:hover{ 
    color: #68e1fd;
    box-shadow:1px 1px 10px 5px #68e1fd;
    transform: scale(1.05);
    transition: 0.5s;
    position: relative;
    bottom: 5px;
}

.contacto-cuerpo{
    background-color: white;
    padding: 2px;
    transition: 0.5s;
    border-radius: 16px;
}

.contacto-contenido{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 16px;
    font-size: 25px;
}

.contacto-contenido i{
    font-size: 40px;
}

img,.habilidades-imagen{
    width: 406px;
    height: 306px;
}

.gitPortafolio{
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    font-family:'Caveat', cursive ;
}

.gitPortafolio a{
    margin-top: 30px;
}

.gitPortafolio a:visited{
    color: white;
}

.gitPortafolio a i{
    margin-top: 30px;
    color: white;
    transition: 0.5s;
    font-size: 40px;
}

.gitPortafolio a i:hover{
    color: #68e1fd;
    
    transform: scale(1.05);
    
    position: relative;
    bottom: 5px;
}
@media only screen and (max-width: 500px)  {
    

    img,.habilidades-imagen,.sobreMi-contenido{
        width: 100%;
    }

    .sobreMi h1, .habilidades h1, .proyectos h1, .logo h1{
        font-size: 2rem;
    }
  }